In [1]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/team.csv")
df

  TEAM  YEAR
0    A  2000
1    B  2002
2    C  2003
3    D  2004
4    A  2005
5    C  2006
6    B  2007
7    A  2008
8    D  2009

In [2]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dfle = df
dfle.TEAM = le.fit_transform(dfle.TEAM)
dfle

   TEAM  YEAR
0     0  2000
1     1  2002
2     2  2003
3     3  2004
4     0  2005
5     2  2006
6     1  2007
7     0  2008
8     3  2009

In [3]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np  
import pandas as pd
# creating one hot encoder object
enc = OneHotEncoder()
enc_df = pd.DataFrame(enc.fit_transform(dfle[['TEAM']]).toarray())
enc_df

     0    1    2    3
0  1.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0
2  0.0  0.0  1.0  0.0
3  0.0  0.0  0.0  1.0
4  1.0  0.0  0.0  0.0
5  0.0  0.0  1.0  0.0
6  0.0  1.0  0.0  0.0
7  1.0  0.0  0.0  0.0
8  0.0  0.0  0.0  1.0

In [4]:
abc = dfle.join(enc_df)
abc

   TEAM  YEAR    0    1    2    3
0     0  2000  1.0  0.0  0.0  0.0
1     1  2002  0.0  1.0  0.0  0.0
2     2  2003  0.0  0.0  1.0  0.0
3     3  2004  0.0  0.0  0.0  1.0
4     0  2005  1.0  0.0  0.0  0.0
5     2  2006  0.0  0.0  1.0  0.0
6     1  2007  0.0  1.0  0.0  0.0
7     0  2008  1.0  0.0  0.0  0.0
8     3  2009  0.0  0.0  0.0  1.0

In [5]:
final = abc.drop(['TEAM'], axis='columns')
final

   YEAR    0    1    2    3
0  2000  1.0  0.0  0.0  0.0
1  2002  0.0  1.0  0.0  0.0
2  2003  0.0  0.0  1.0  0.0
3  2004  0.0  0.0  0.0  1.0
4  2005  1.0  0.0  0.0  0.0
5  2006  0.0  0.0  1.0  0.0
6  2007  0.0  1.0  0.0  0.0
7  2008  1.0  0.0  0.0  0.0
8  2009  0.0  0.0  0.0  1.0